@import
url('https://fonts.googleapis.com/css2?family=Anta&display=swap');

*{
    padding: 0;
    background:#F3F5FC ;
    font-family: "Anta", sans-serif;
}

main {
    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;
    justify-content: center;
}


.header{
    display: flex;
    justify-content: center;
}

.footer {
    display: flex;
    justify-content: center;
}


img {
    display: block;
}


.cabecario {
    color: #0A3871;
    font-size: 12px;
    text-align: center;
    background-color: #F3F5FC;
    width: 60%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.principal{
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.principal1{
    margin-top: 20px;
    margin-right: 100px;
    margin-left: 50px;
}

.input1{
    width: 400px;
    height: 200px;
    top: 72px;
    left: 1032px;
    font-family: "Anta", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
    border: 1px solid #0A3871; 
    border-radius: 24px; 
    margin-left: 50px;   
}

.principal1-info {
    margin-top: 10px;
    margin-bottom: 10px;
    gap: 5px;
    display: flex;
    justify-content:first baseline;
    font-family: "Anta", sans-serif;
    color: #495057;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 50px;
}


::placeholder {color:#0A3871; }
    .principal1-info :focus {
        outline: none;
    }

.botoes {
    width: (688px);
    height:(100px);
    top: 8px;
    left: 40px;
    gap: 24px;
    display: flex;
    justify-content: center;
}
    
.botao1 {
    width: Fill (332px);
    height: Hug (67px);
    padding: 24px;
    border-radius: 24px;
    border: 1px;
    gap: 8px;
    background-color:#0A3871;
    color: white;
    font-family: "Anta", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
}

.botao2{
    width: Fill (332px);
    height: Hug (67px);
    padding: 24px;
    border-radius: 24px;
    border: 1px;
    gap: 8px;
    color: #0A3871;
    font-family: "Anta", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;   
    border: 1px solid #0A3871;
}

.principal2{
    width: Fill (400px);
    height: Hug  (400px);
    margin-top: 20px;
    margin-left: 10px;
    border-radius: 32px;
    background: #F3F5FC;
    box-shadow: 0px 24px 32px -8px #00000014;
    gap: 8px;
    padding: 8px;
}

.input2{
    width: 400px;
    height: 200px;
    top: 72px;
    left: 1032px;
    font-family: "Anta", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
    border: 1px solid #0A3871; 
    border-radius: 24px;  
    margin-left: 50px;
}

.principal2-img{
    width: 200px;
    height: 150px;
    top: 283px;
    left: 1032px;
    gap: 8px;
    margin-left: 140px;
}

.principal2-texto{
    width: Hug (300px);
    height: Hug (100px);
    top: 619px;
    left: 1032px;
    gap: 16px;
    font-family: "Anta", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    color: #343A40;
}

.principal2-paragrafo{
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: center;
    color: #495057;
}

.botao3{
    width: Fixed (100px);
    height: Hug (37px);
    top: 885px;
    left: 1032px;
    padding: 24px;
    border-radius: 24px;
    border: 1px;
    gap: 8px;
    border: 1px solid #0A3871;
    color: #0A3871;
}
.negrito{
    font-weight: 900;
}

.rodape {
    width: Fixed (100px);
    height: Hug (37px);
    color: #0A3871;
    margin-bottom: 50px;
    margin-left: 300px;
    text-align: center;
    margin: 0 auto;
}

.apresentacao__links{
    gap: 0px;
}

.apresentacao__links__subtitulo {
    font-weight: 600;
    font-size: 18px;
}

.apresentacao__links__link{
    width: 278px;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    padding: 11.5px 0;
    text-decoration: none;
    color:  #0A3871;
}

